apiVersion: 1
datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus-operator-kube-p-prometheus.default.svc.cluster.local:9090 
    isDefault: true
    jsonData:
      timeInterval: "5s"